# Extracting Data from Twitter

In [1]:
#Install tweepy
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\admin\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\admin\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\admin\anaconda3\lib\site-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\admin\anaconda3\lib\site-packages (from tweepy) (2.25.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
#Import Tweepy, Datetime and JSON
import tweepy as tw
import pandas as pd
from csv import DictReader
import re

In [3]:
#Read the Twitter API Keys
with open('TwitterKey.csv') as csv_file:
    reader = DictReader(csv_file)
    for line in reader:
        consumer_key = line['consumer_key']
        consumer_secret = line['consumer_secret']
        access_token = line['access_token']
        access_token_secret = line['access_token_secret']

## <font color = 'red'> Never publish your Keys!!! </font>

In [4]:
#Create authentication keys
auth = tw.OAuthHandler(consumer_key,consumer_secret)

In [5]:
auth.set_access_token(access_token,access_token_secret)

In [6]:
api = tw.API(auth)
public_tweets = api.home_timeline()

In [7]:
#Print tweets
for tweet in public_tweets:
    print(tweet.text)

'I lost my job as a teacher after refusing to get vaccinated against Covid' https://t.co/D1963Kvt0N
ICYMI: Pooches, puppets and paintings

https://t.co/eXj7H089BQ https://t.co/9PivKzq4za
AQ Khan: The most dangerous man in the world? https://t.co/vcBX5h9pRu
UK to resettle teenage Afghan women footballers and families https://t.co/RG7YZFqVlp
Power returns to Lebanon after 24-hour blackout https://t.co/1vG8nnKgtr
Czech election: Milos Zeman in intensive care after vote https://t.co/FbozxwqRNE
Biodiversity loss risks 'ecological meltdown' - scientists https://t.co/2xSUdWpSK0
'Why drilling holes in fences can save hedgehogs' https://t.co/SEm04yOrxb
Vegan food blogger wins World Porridge Making Championships https://t.co/ADbHfY9Vbi
The 25-year-old who's been a clown for two decades https://t.co/KUEpAlDDMH
Colombian nun kidnapped in Mali in 2017 is freed https://t.co/q4gCLGt6lu
We will not bow to Beijing pressure, says Taiwan leader https://t.co/KBJKFScDB7
Abdul Qadeer Khan: 'Father of Pakistan's nuclear bomb' dies https://t.co/cRfDKnb8MK
Tyson Fury defeats Deontay Wilder to retain WBC heavyweight title in Las Vegas https://t.co/57VGx2cX5M
Iraqis vote in first parliamentary election since 2019 mass protests https://t.co/HGCr2MfvMH
Guatemala police free 126 migrants from abandoned container https://t.co/OLJexWuyf4
Thriller film sinks teeth into Hungary's opposition https://t.co/9UGYUrjYRy
Covid vaccine: Why these US workers won't get jabbed https://t.co/qWMCCnmqMp
Facebook to clamp down on illegal sale of Amazon rainforest, following BBC investigation

https://t.co/QTl66I8DiT
Performer at Moscow's Bolshoi Theatre killed by falling scenery https://t.co/zPKrlQswER

In [8]:
#Get tweets from specific user
def take_tweets(user,limit=5):
    results = api.user_timeline(screen_name=user,count=limit,tweet_mode='extended')
    tweets = []
    for result in results:
        tweet = re.sub(r'http\S+', '', result.full_text)
        tweets.append(tweet.replace('\n', ' '))
    return tweets

In [9]:
#Show the tweets
take_tweets('Daloopa1')

["We're honored to be nominated as a top startup by The Startup Pill. ",
 'Airbnb (ABNB) continues to make headlines ahead of its IPO. Download a Daloopa model (free) to analyze for yourself. ',
 '',
 'In our ABNB model we found the $ change in revenue has been decelerating, but the $ change in operating costs have been accelerating. Begs a lot of questions around operating leverage.  Type "YES" in comments below to get our ABNB model for free, and I\'ll send it over. ',
 "We are hiring! Looking for Sales Development Reps (SDR's)  "]

In [10]:
#Show more tweets
take_tweets('Daloopa1',limit=10)

["We're honored to be nominated as a top startup by The Startup Pill. ",
 'Airbnb (ABNB) continues to make headlines ahead of its IPO. Download a Daloopa model (free) to analyze for yourself. ',
 '',
 'In our ABNB model we found the $ change in revenue has been decelerating, but the $ change in operating costs have been accelerating. Begs a lot of questions around operating leverage.  Type "YES" in comments below to get our ABNB model for free, and I\'ll send it over. ',
 "We are hiring! Looking for Sales Development Reps (SDR's)  ",
 'Honored to receive the annual HFM Global Award for Best technology newcomer. High quality fundamental financial data has been missing in the investment industry for way too long! Speak to us on how we can use AI to help you with your financial modeling needs. #data #hedgefunds ',
 'Excited to see us cited in Seeking Alpha:   ',
 'Analysts spend 60-90 mins updating each model every qtr = 1 week/qtr. = 1 month / yr.  Daloopa believes there are better ways to spend 1 month. We automate this process. Better results in less time. See if we can make earnings more fruitful. Free trials: ']

In [11]:
#Show the tweets links
def take_tweet_links(user,limit=5):
    results = api.user_timeline(screen_name=user,count=limit)
    for result in results:
        print(result.text)

In [12]:
take_tweet_links('Daloopa1')

We're honored to be nominated as a top startup by The Startup Pill. https://t.co/K3yDv4iifi
Airbnb (ABNB) continues to make headlines ahead of its IPO. Download a Daloopa model (free) to analyze for yourself. https://t.co/JmyOYshyRr
https://t.co/CrBx150g8V
In our ABNB model we found the $ change in revenue has been decelerating, but the $ change in operating costs haveâ€¦ https://t.co/LihkVqnvaa
We are hiring! Looking for Sales Development Reps (SDR's)

https://t.co/gMbd8vz1zR

In [13]:
#Iterate over user tweets
tweets_collection = tw.Cursor(api.user_timeline,screen_name='@Daloopa1').items(10)

In [14]:
tweets_collection

In [15]:
for tweet in tweets_collection:
    print(tweet.text)

We're honored to be nominated as a top startup by The Startup Pill. https://t.co/K3yDv4iifi
Airbnb (ABNB) continues to make headlines ahead of its IPO. Download a Daloopa model (free) to analyze for yourself. https://t.co/JmyOYshyRr
https://t.co/CrBx150g8V
In our ABNB model we found the $ change in revenue has been decelerating, but the $ change in operating costs haveâ€¦ https://t.co/LihkVqnvaa
We are hiring! Looking for Sales Development Reps (SDR's)

https://t.co/gMbd8vz1zR
Honored to receive the annual HFM Global Award for Best technology newcomer. High quality fundamental financial datâ€¦ https://t.co/mQfSuBz3RO
Excited to see us cited in Seeking Alpha:

https://t.co/fOBXaMe5B3
Analysts spend 60-90 mins updating each model every qtr = 1 week/qtr. = 1 month / yr.

Daloopa believes there are bâ€¦ https://t.co/wwegJ1Q99I

In [16]:
#Make a list of tweets about Artificial Intellinge
tweet_collection2 = tw.Cursor(api.search,'Artificial Intelligence').items(10)

In [17]:
tweet_collection2

In [18]:
tweet_list = [[tweet.user.screen_name, tweet.user.location] for tweet in tweet_collection2]

In [19]:
tweet_list

[['edisonjsapps', 'Colombia'],
 ['PostYourAdsBiz', ''],
 ['ictAni132', 'Bangalore'],
 ['Theaceslisoo', 'she/her black'],
 ['Artificialbra1n', ''],
 ['Elizabillie', 'Los Angeles, CA'],
 ['ManvithNaga', ''],
 ['manishrupapara', 'Mumbai'],
 ['bluesky_42_', ''],
 ['janiehaddad', 'Hollywood, darling. ']]

In [20]:
tweet_dataframe = pd.DataFrame(data=tweet_list,columns=['User','Location'])

In [21]:
tweet_dataframe

              User              Location
0     edisonjsapps              Colombia
1   PostYourAdsBiz
2        ictAni132             Bangalore
3     Theaceslisoo         she/her black
4  Artificialbra1n
5      Elizabillie       Los Angeles, CA
6      ManvithNaga
7   manishrupapara                Mumbai
8      bluesky_42_
9      janiehaddad  Hollywood, darling.